<h1 id="tableLabel">Fetch GUIDs</h1>

<p>This tool generates GUIDs.</p>

<p *ngIf="!guids"><em>Generating...</em></p>

<div *ngIf="guids" class="box-shadow">
  <button class="btn btn-primary" style="width:200px; margin: 5px;" (click)="copyAll();">📋 Copy all</button>
  <button class="btn btn-warning" style="width:200px; margin: 5px;" (click)="regenerate();">🗘 Regenerate</button><br />
  <label for="numberOfGuidsToGenerateInputField" style="margin:5px;">Number of GUIDs to generate</label><input id="numberOfGuidsToGenerateInputField" style="margin:5px;" type="number" min="1" max="10000" [value]="numberOfGuidsToGenerate" (input)="numberOfGuidsToGenerate = $event.target.value" />
  <ngb-tabset [destroyOnHide]="false">

    <ngb-tab title="Individual GUIDs">
      <ng-template ngbTabContent>
        <br />
        <p style="margin:5px 10px 10px 10px">Click on a GUID to copy it to clipboard.</p>
        <button class="btn btn-light" style="width:200px; margin: 5px;" (click)="copyClicked($event.currentTarget);" *ngFor="let g of guids">{{ g }}</button>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Mass GUIDs">
      <ng-template ngbTabContent>
        <pre id="massGuids"><code>{{ guidsSemicolonSeparated }}</code></pre>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>
